body {
    background-image: url(../imgs/trees.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto Slab";
}

h1 {
    color: #000000;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

p {
    text-align: center;
}

table, th, td {
    border-style: groove;
    font-size: 18px;
}

tr:hover {
    background-color: #D6EEEE;
}

th {
    color:#000000;
}

nav {
    background-color: #1E5A86;
    position: relative;
    z-index: 1;
}

nav a {
    color: white;
}

nav a:first-child img {
    width: 25px;
}

a:hover{
    text-decoration: none;
}

.footer {
    background-color: #1E5A86;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
}