body {
    background-image: url(../imgs/paintsbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Fredericka the Great", cursive;
    color: #1F5B25;
    text-align: center;
}

nav {
    background-color: #1E5A86;
    position: relative;
    z-index: 5;
}

nav a {
    color: white;
}

nav a:first-child img {
    width: 40px;
}

a:hover{
    text-decoration: none;
}

.footer {
    background-color: #1E5A86;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}